{% extends 'base.html' %}

{% block title %}
{% if jogo %}Editar Jogo{% else %}Criar Jogo{% endif %}
{% endblock %}

{% block content %}
<h1>{% if Jogo %}Editar Jogo{% else %}Criar Jogo{% endif %}</h1>
<form method="post">
    <label for="nome">Nome:</label><br>
    <input type="text" id="nome" name="nome" value="{{ jogo.get_nome() if jogo else '' }}"><br><br>

    <label for="preco">Preço:</label><br>
    <input type="number" step="0.01" id="preco" name="preco" value="{{ jogo.get_preco() if jogo else '' }}"><br><br>

    <label for="desenvolvedor">Desenvolvedor:</label><br>
    <input type="text" id="desenvolvedor" name="desenvolvedor"
        value="{{ jogo.get_desenvolvedor() if jogo else '' }}"><br><br>

    <label for="categoria_id">Categoria:</label><br>
    <select id="categoria_id" name="categoria_id">
        <option value="" disabled selected hidden>-- Selecione --</option>
        {% for cat in categorias %}
        <option value="{{ cat.get_id() }}" {% if jogo and jogo.get_categoria_id()==cat.get_id() %}selected{% endif %}>
            {{ cat.get_nome() }}
        </option>
        {% endfor %}
    </select><br><br>

    <button type="submit">Salvar</button>
    <a href="{{ url_for('listar_jogos') }}">Cancelar</a>
</form>
{% endblock %}